body{
    background-color: snow;
}
table {
    border: 2px solid black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: antiquewhite;
    width: 100%;
   
    
}

td, th {
    border: 1px solid rgb(170, 170, 170);
    text-align: left;
    padding: 8px;
    
}

.search{
   text-align: right;
  
}

.resetButton {
   position: absolute; right: 1%;
}
a{
    margin: 14%;
}
