body{
    background-color: snow;
}
table {
    border: 2px solid black;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: rgb(255, 242, 226);
    width: 50%;    
}

td, th {
    border: 1px solid rgb(170, 170, 170);
    text-align: left;
    padding: 8px;
    

}

#searchInput{
   position: absolute; top: 10%; right: 5%;
  
}

.resetButton {
   position: absolute; right: 1%;
}
a{
    margin: 14%;
}
.displayResults{
    height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
}
.assignDisabled {
    background-color: lightgray;
    text-align: center;
    user-select: none;
}
.assignbutton{
    user-select: none;
    text-align: center;
}
.assignbutton:hover {
    cursor: pointer;
    background-color:  rgb(161, 145, 124);
}